<h1>Listing advertisers</h1>

<table>
  <thead>
    <tr>
      <th colspan="5">Company</th>
      <th colspan="6">Name</th>
      <th colspan="6">Email</th>
      <th colspan="10">Address</th>
      <th colspan="5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @advertisers.each do |advertiser| %>
      <tr>
        <td colspan="5"><%= advertiser.company.camelize %></td>
        <td colspan="6"><%= advertiser.full_name %></td>
        <td colspan="6"><%= advertiser.email %></td>
        <td colspan="10"><%= advertiser.full_address %></td>
        <td colspan="5">
          <%= link_to 'Show', [@user, advertiser] %> /
          <%= link_to 'Edit', [:edit, @user, advertiser] %> /
          <%= link_to 'Destroy', [@user, advertiser], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertiser', [:new, @user, :advertiser] %>
